* {
  box-sizing: border-box;
}

:root {
  --max-width: 720px;
}

body {
  padding: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 2;
  width: 100wv;
  margin: 0px;
}
section, 
header {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}
#main {
/*   background-color: hsla(0, 0%, 69%, 0.5);  */
  background-color: hsla(101, 23%, 69%, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  margin: 50px 0px 0px 0px;
  font-size: 40px;
  
}

#subtitle {
  max-width: 450px;
  width: 100%;
}

#img-div {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  max-width: 900px;
/*   border-radius: 10px; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

#image {
  margin-top: 30px;
  width: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin-top: 10px;
  color: #000;
}

li {
  max-width: var(--max-width);
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

#tribute-info {
  padding: 30px;
}

h2 {
  margin: 70px 0px 0px 0px;
  font-size: 25px;
  text-align: center;
  
}

.iframe-container{
  max-width: var(--max-width);
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

iframe{
/*   margin-top: 30px;
   width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main-iframe-container {
  max-width: var(--max-width);
  width: 100%;
  padding-bottom: 20px;
}

.quote-container {
  max-width: var(--max-width);
  width: 100%; 
}

hr {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: hsla(10, 100%, 37%, 1);
}

.copyright-info {
  margin: 30px;
}

.link {
  margin: 30px;
}

@media (max-width: 480px) {
  #title {
    font-size: 35px;
  }
}




